<div class="card mb-4 ">
    <div>
      <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imageUrl" />
    </div>
      <div class="card-body">
        <p class="card-text">
            {{productItem.name}}
          <strong>{{ productItem.price | currency:'USD' }}</strong>
         
        </p>
        <p  class="card-text detail">{{ productItem.description | slice: 0:80 }}...</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn"(click)="handleAddToCart()" >Add to
              Cart</button>
            
          </div>
        </div>
      </div>
    </div>